<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    
    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static',filename = 'css/bootstrap.min.css')  }}" rel="stylesheet">

    <title>Machine Learning Lab</title>
</head>

<body>
    <nav style="width: 100%;" class="navbar navbar-dark bg-secondary">
         <a class="  navbar-brand" href="#" style="margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-botttom: 0px;">
             <img style="max-height: auto; width:100%;" src="{{ url_for('static',filename = 'image/PIET logo with tagline.jpg')  }}" 
             class="img-responsive" style="margin-top:0px;style=width: auto; height: auto; min-width:100%; min-height: auto;">
              
              <a href="/aboutusnew" style="color: red; margin-right: 10px;">ABOUT US</a>
              <a href="/" style="color: red; margin-right: 10px;">HOME</a>
            
      </div>
           
        </a>
        
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-5 d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block">

                <img src="{{ url_for('static',filename = 'image/DanceBot-3-LG.gif')  }}" class="img-fluid"
                    style="width: auto; height: auto; min-width: 400px;min-height: 400px;">

            </div>
            
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 " style=" padding: 30px;">
                <h1>Summer Internship 2022 Decision Tree Project</h1>
                <br><br>
                <p style="font-size:20px;text-align:justify; color:blue">It is a Internship project developed at Summer internship 2022 at poornima Institute of Engineering & technology, Jaipur.This  Summer Internship 2022 on Artificial intelligence and Data Science .  </p>
              
                
                <br><br>
                
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="card mb-3">
            
                    <div class="card">
                        <img style="max-height: 300px;" src="{{ url_for('static',filename = 'image/dpforml.jpg')  }}"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"; style="text-align:center">Model Deployment</h5>
                            <p class="card-text"; style="text-align:justify">Model Deployment of machine Larning supervised Clasification algorithm. You can enter input and  get prediction. </p>
            
                            <!-- Main Input For Receiving Query to our ML -->
<form action="{{ url_for('predict')}}"method="get">
<div class="block">
    <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Credit Score(100-1000)</label>
      <input type="number" name="creditscore" id="crditscore" value="" min="100" max="1000" placeholder="" required="required">
      </div>
      </div>
      <div class="block">
      <div class="mb-3">
      <label for="cars">Choose Geograpphy</label>
  <select name="geo" id="geo">
    <option value="0">France:0</option>
    <option value="1">Germany:1</option>
    <option value="2">Spain:2</option>
     </select>
       </div>
       </div>
      <div class="block">
      <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Age</label>
      <input type="number"  name="age" id="age" value=""min="18" max="100" placeholder="1" required="required">
      </div>
      </div>
 <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Tenure$</label>
      <input type="number" name="tenure" id="tenure" value="" min="0" max="10" placeholder="" required="required">
      </div>
      <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Balance</label>
      <input type="number"  name="balance" id="balance" value=""min="0" max="10000000" placeholder="1" required="required">
      </div>
       <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Number of Products</label>
      <input type="number" name="numofproducts" id="numofproducts" value="" min="1" max="4" placeholder="" required="required">
      </div>
      <div class="mb-3">
   <label for="cars">Has Credit Cards</label>
   <select name="creditcards" id="creditcards">
    <option value="0">No</option>
    <option value="1">Yes</option>
       </select>
      </div>
      <div class="mb-3">
   <label for="cars">Is Active Member</label>
   <select name="activemember" id="activemember">
    <option value="0">No</option>
    <option value="1">Yes</option>
       </select>
      </div>
       <div class="mb-3"> 
  <label for="exampleFormControlInput1" class="form-label">Salary</label>
      <input type="number"  name="salary" id="salary" value=""min="10" max="100000000" placeholder="1" required="required">
      </div>
  
<button type="submit" class="btn btn-primary btn-block btn-large" name="dt">Click for Classification</button>
</form>
<br>
<br>
{{ prediction_text }}

</div>

                        </div>
            
            
                    </div>
                </div>
            </div>
           
    <br>
    
    <div class="col-md-12">
              <center><h3 class="section-title" style="text-align: center;">Sponsored by</h3></center>
            </div>
          
          <br>
          <br>
    
      <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="card mb-3">
            
                    <div class="card">
                        <img style="max-height: 200px;" src="{{ url_for('static',filename = 'image/AICTEIdeaLabFooterLogo.png')  }}"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align:center">IDEA LAB</h5>
                            
                        </div>
            
            
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12 col-md-4">
                <div class="card mb-3">
            
                    <div class="card">
                        <img style="max-height: 200px;" src="{{ url_for('static',filename = 'image/nbanew.png')  }}"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align:center">NBA</h5>
                            
                        </div>
            
            
                    </div>
                </div>
            </div>
            
            <div class="col-xs-10 col-md-3">
                <div class="card mb-3">

                    <div class="card">
                        <img style="max-height: 200px;"
                            src="{{ url_for('static',filename = 'image/aicte-logo.png')  }}"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"; style="text-align:center">AICTE MODROB DEEP LEARNING LAB</h5>
                            
                        </div>

                    </div>

                </div>
            </div>
        
               
    
    <br><br><br><br><br>
    <div class="fixed-bottom ">
        <div class="bg-secondary " style="min-height: 40px;">

            <marquee style="color:#fff; margin-top: 7px;">
                <h9>Developed by Department of Computer Engineering, PIET</h9>
            </marquee>
        </div>
    </div>
    <!-- change later-->
    <script src="{{ url_for('static',filename = 'js/bootstrap.bundle.min.js')  }}"></script>

</body>

</html>